# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# build output
/dist
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# local env files
.env
.env*.local

# editor / OS
.idea
.vscode/*
!.vscode/extensions.json

# typescript
*.tsbuildinfo

*.claude
*CLAUDE.md
*context
*plans